ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
}

.navbar{
    display: flex ;
    justify-content:space-between;
    padding: 10px;
    background-color: rgb(226, 129, 255);
    border-bottom: 1px solid rgb(77, 1, 70);
    box-shadow: 1px 1px rgb(131, 0, 98);
}

.navbar > li {
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
}
.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;   
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px black;  
}

.mainButton{
    background-color: rgb(250, 210, 255);
    color: rgb(0, 0, 0);    
    box-shadow: 1px 1px black;
}

.secondaryButton{
    background-color: rgb(138, 43, 201);
    color: white;    
} 

.secondaryButton:hover{
    box-shadow: 5px 5px rgba(45, 7, 53, 0.555);    

}

.buscar{
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    padding: 8px;

    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar > input{
    outline: none;
    border: 0px;
}

.buscar:focus-within{
    border: 2px solid rgb(54, 1, 61);
}

.iconobuscar:hover{
    color: rgb(54, 1, 61);
}

.breedCardContainer{
    display: flex;
}

.breedCard{
    margin: 20px;
}

.contenedorImagen{
    height: 250px;
    width: 280px;
    display: flex;
}

.contenedorImagen > img{
    object-fit: fill;
    width: 100%;
}

h1{
    margin-left: 20px;
}