ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
}

.navbar{
    display: flex ;
    justify-content:space-between;
    padding: 10px;
    background-color: rgb(209, 209, 209);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.navbar > li {
    display: flex;
    align-items: center;
}
.logo{
    height: 70px;
}
.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;   
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px black;  
}
.mainButton{
    background-color: green;
    color: white;    
    box-shadow: 1px 1px black;
}

.secondaryButton{
    background-color: rgb(104, 16, 163);
    color: white;    
}

.secondaryButton:hover{
    box-shadow: 5px 5px rgba(45, 7, 53, 0.555);    

}
.buscar{
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    padding: 8px;

    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar > input{
    outline: none;
    border: 0px;
}
.buscar:focus-within{
    border: 1px solid blue;
}
.iconobuscar:hover{
    color: blue;
}

.breedCardContainer{
    display: flex;
}

.breedCard{
    margin: 20px;
}
.contenedorImagen{
    height: 250px;
    width: 280px;
    display: flex;
}
.contenedorImagen > img{
    object-fit: fill;
    width: 100%;
}
